@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply min-w-full min-h-full overflow-x-hidden bg-blue-950 text-white;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.active {
  color: crimson;
}
